server:
  port: 8080

spring:
  application:
    name: CRM
  config:
    import:
      - classpath:env.yaml
  profiles:
    active: default
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
    session:
      cookie:
      name: JSESSIONID
      http-only: true
      secure: false
      timeout: 30m
      persistent: true
      tracking-modes: cookie
  jackson:
    deserialization:
      fail-on-unknown-properties: true
