server:
  port: 8080
  tomcat:
    max-part-count: 20
api:
  prefix: /api/v1

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    csrf:
      enabled: true
    enabled: true
  api-docs:
    enabled: true
spring:
  application:
    name: CRM
  config:
    import:
      - classpath:env.yaml
  profiles:
    active: default
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2MB
    session:
      cookie:
      name: JSESSIONID
      http-only: true
      secure: false
      timeout: 30m
      persistent: true
      tracking-modes: cookie
  jackson:
    deserialization:
      fail-on-unknown-properties: true

cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}
